<mat-toolbar>

<span style="width:100%">
  <button
  mat-icon-button
  *ngIf="sidenav.mode === 'over'"
  (click)="sidenav.toggle()"
>
  <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
  <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
</button>
  <img src="icon" tooltip="company icon"/>
  Company name | app title version 4   <br/></span>
</mat-toolbar>
<mat-divider class="top-divider"></mat-divider>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="imge.jpg"
    />

    <h4 class="name">Person Name</h4>
    <p class="designation">Role</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Update Profile</span>
    </button>
    <button mat-button class="menu-button" routerLink="/AccountSearch">
      <mat-icon>info</mat-icon>
      <span>Account Search</span>
    </button>
    <button mat-button class="menu-button" routerLink="/StatusHistory">
      <mat-icon>info</mat-icon>
      <span>Status History</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>
<mat-sidenav-content>
  <div class="content mat-elevation-z8">

    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>
